<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
    <link th:href="@{/css/custom.css}" rel="stylesheet"/>
</head>
<body>
<div class="content-container">
    <div lang="en" th:include="header :: header"></div>
    <div class="content">
        <div class="main-body">
            <div class="inside-main-body">
                <br>
                <div th:utext="${report.getReport()}"></div>
                <br>
                <hr>
                <br>
                <div class="resource-controls">
                    <a th:href="${'/' + report.getReportingObject() + '/' + report.getReportingId()}">
                        <button>Check Reported</button>
                    </a>
                    <form method="post" th:action="${'/admin/report/' + report.getId()}">
                        <select id="action" name="action">
                            <option value="denied">Denied</option>
                            <option value="executed">Executed</option>
                            <option value="none">None</option>
                        </select>
                        <input type="submit" value="Submit Action Taken">
                    </form>
                </div>
            </div>
        </div>
        <div class="side-body-container">
            <div class="side-body">
                <div class="inside-main-body">
                    <p>Reporter: <a th:href="${'/profile/' + report.getReporter().getId()}"
                                    th:text="${report.getReporter().getUsername()}"></a></p>
                    <p>Reported: <a th:href="${'/' + report.getReportingObject() + '/' + report.getReportingId()}"
                                    th:text="${report.getReportingObject()}"></a></p>
                    <p>Reason: [[${report.getReason()}]]</p>
                </div>
            </div>
        </div>
    </div>
    <div lang="en" th:include="footer :: footer"></div>
</div>
</body>
</html>