<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
    <link th:href="@{/css/custom.css}" rel="stylesheet"/>
</head>
<body>
<div class="content-container">
    <div lang="en" th:include="header :: header"></div>
    <div class="content">
        <div class="main-body">
            <div class="inside-main-body">
                <div class="resource-top-controls">
                    <div style="flex-grow: 1;">
                        Reports:
                        <select id="sortby" onchange="changeSort()">
                            <option value="all">All</option>
                            <option value="updated">Account</option>
                            <option value="created">Resource</option>
                            <option value="download">Review</option>
                        </select>
                    </div>
                    <div class="search-container">
                        <input type="text" id="search-input"><input type="button" value="Search" id="search-button"
                                                                    onclick="search()">
                    </div>
                </div>

                <br>

                <div>
                    <table>
                        <tr>
                            <td>Reporter</td>
                            <td>Reported Object</td>
                            <td>Reason</td>
                            <td>Date</td>
                            <td>Reviewed</td>
                        </tr>
                        <tr th:each="report : ${reports}">
                            <td th:text="${report.getReporter().getUsername()}"></td>
                            <td><a th:href="${'/' + report.getReportingObject() + '/' + report.getReportingId()}"
                                   th:text="${report.getReportingObject()}"></a></td>
                            <td th:text="${report.getReason()}"></td>
                            <td th:text="${report.getReportedDate()}"></td>
                            <td><a th:href="${'/admin/report/' + report.getId()}"
                                   th:text="${report.getActionTaken()}"></a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="side-body-container">
            <div class="side-body">
                <div class="inside-main-body">
                    <p>Banned Users:</p>
                    <p>Removed Resources:</p>
                </div>
            </div>
        </div>
    </div>
    <div lang="en" th:include="footer :: footer"></div>
</div>
</body>
</html>