<!DOCTYPE html>
<html lang="">
<head>
    <title th:text="${user.getUsername()}"></title>
    <link th:href="@{/css/custom.css}" rel="stylesheet"/>
</head>
<body>
<div class="content-container">
    <div lang="en" th:include="header :: header"></div>
    <div class="content">
        <div class="main-body">
            <div class="inside-main-body">
                <div class="info-left flex">
                    <img th:src="${'/profile-picture/' + account.getId()}" alt="Profile Picture" class="logo">

                    <div class="info-left" style="margin-left: 1rem;">
                        <p th:text="'Name: ' + ${user.getUsername()}"></p>
                        <br>
                    </div>
                </div>
                <form method="GET" th:action="'/profile/' + ${user.getId()}" th:object="${user}"
                      enctype="multipart/form-data" action="#">
                    <p>
                        <input type="submit" name="field" value="Overview">
                        <input type="submit" name="field" value="Resources" th:if="${user.getResources().size() != 0}">
                    </p>
                </form>
            </div>
        </div>
        <div class="side-body-container">
            <div class="side-body">
                <div class="inside-main-body">
                    <div lang="en" th:include="sponsor :: sponsor"></div>
                </div>
            </div>
            <div class="side-body slight-margin">
                <div class="inside-main-body">
                    <p th:text="'Total Downloads: ' + ${totalDownloads}"></p>
                    <p th:text="'Joined: ' + ${user.getJoined()}"></p>
                </div>
            </div>
        </div>
    </div>
    <div lang="en" th:include="footer :: footer"></div>
</div>
</body>
</html>