<!DOCTYPE html>
<html lang="">
<head>
    <title th:text="${account.getUsername()}"></title>
    <link th:href="@{/css/custom.css}" rel="stylesheet"/>
    <script th:src="@{/js/sortby.js}"></script>
    <script th:src="@{/js/pageChanger.js}"></script>
</head>
<body>
<div lang="en" th:include="header :: header"></div>
<div class="content">
    <div class="main-body">
        <div class="inside-main-body">
            <form method="GET" th:action="'/profile/' + ${account.getId()}" th:object="${account}"
                  enctype="multipart/form-data" action="#">
                <p>
                    <input type="submit" name="field" value="Overview">
                    <input type="submit" name="field" value="Resources">
                </p>
            </form>
            <p th:text="'Name: ' + ${account.getUsername()}"></p>
            <ul class="plugin-list">
                <div>
                    Sort By:
                    <select id="sortby" onchange="changeSort()">
                        <option value="created">Created</option>
                        <option value="updated">Updated</option>
                        <option value="downloads">Downloads</option>
                        <option value="alphabetical">Alphabetical</option>
                    </select>
                </div>
                <br><hr>
                <li th:each="file : ${files}">
                    <div class="plugin-box">
                        <div class="info-left"><img th:src="'/logo/' + ${file.getId()}" alt="Logo" class="logo"></div>
                        <div class="info-left"><a th:href="${'resources/' + file.getId()}" th:text="${file.getName()}"
                                                  class="align-centre title"></a>
                            <p th:text="${file.getBlurb()}" class="blurb"></p></div>
                        <div class="info-right">
                            <p th:text="${'Created: ' + file.getCreated()}" class="blurb"></p>
                            <p th:text="${'Updated: ' + file.getUpdated()}" class="blurb"></p>
                            <p th:text="${'Downloads: ' + file.getDownloads()}" class="blurb"></p>
                        </div>
                    </div>
                    <hr>
                </li>
                <div class="horizontal-center">
                <a th:if="${page > 1}" th:href="'/resources?page=' + ${page - 1}" class="page-button">
                    <button><</button>
                </a>
                <a th:if="${page > 2}" class="page-button" th:text="${page - 2}" onclick="changePage(-2)"></a>
                <a th:if="${page > 1}" class="page-button" th:text="${page - 1}" onclick="changePage(-1)"></a>
                <span th:text="${page}"></span>
                <a th:if="${page < total}" class="page-button" th:text="${page + 1}" onclick="changePage(1)"></a>
                <a th:if="${page + 1 < total}" class="page-button" th:text="${page + 2}" onclick="changePage(2)"></a>
                <a th:if="${page < total}" th:href="'/resources?page=' + ${page + 1}" class="page-button">
                    <button>></button>
                </a>
                </div>
            </ul>
        </div>
    </div>
    <div class="side-body">
        <div class="inside-main-body">
            <div lang="en" th:include="sponsor :: sponsor"></div>
        </div>
    </div>
    <div class="side-body slight-margin">
        <div class="inside-main-body">
            <p th:text="'Total Downloads: ' + ${account.getTotalDownloads()}"></p>
            <p th:text="'Joined: ' + ${account.getJoined()}"></p>
        </div>
    </div>
</div>
<div lang="en" th:include="footer :: footer"></div>
</body>
</html>