/* Affect elements */

* {
    margin: 0;
    padding: 0;
    /* border: 0;*/
    /* outline: 0;*/
    /* font-size: 100%;*/
    /* vertical-align: baseline;*/
}

button, input[type="submit"], input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #c90000;
}

html {
    background-color: #dadada;
}

/*
    custom classes
*/

/* Body */

.content {
    margin-top: 3%;
    margin-right: 18%;
    margin-left: 18%;
}

.main-body {
    background-color: #f5f5f5;
    border-radius: 15px;
    width: 70%;
    display: inline-block;
    float: left;
}

.side-body {
    width: 28%;
    background-color: #f5f5f5;
    border-radius: 15px;
    display: inline-block;
    float: right;
}

.inside-main-body {
    padding: 2%;
}

.slight-margin {
    margin-top: 2%;
}

/* footer */
.footer {
    width: 100%;
    background-color: #424242;
    margin-top: 4%;
    float: left;
}

.footer-text {
    color: #dadada;
}

/* header */
.header {
    width: 100%;
    background-color: rgb(226, 226, 226);
}

.align-right {
    position: relative;
    float: right;
    padding-right: 10px;
}

.align-left {
    padding-left: 2%;
}

.align-centre {
    text-align: center;
}

.header-body {
    padding-left: 15%;
    padding-bottom: 3px;
    padding-top: 3px;
}

/* plugins list */

.plugin-box {
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 7px;
}

.plugin-list {
    padding: 3% 10%;
    list-style-type: none;
}

.blurb {
    font-size: 13px;
}

.title {
    font-size: 16px;
    color: #ff0101;
    font-weight: bold;
}