/* Affect elements */

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* border: 0;*/
    /* outline: 0;*/
    /* font-size: 100%;*/
    /* vertical-align: baseline;*/
}

button, input[type="submit"], input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

input[type="text"], input[type="password"], input[type="email"]{
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px;
    margin: 5px 0;
    width: 10rem;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus{
    outline: none;
    border: 1px solid #aaa;
    box-shadow: 0 0 5px #aaa;
}

input[type="submit"]{
    border-radius: 3px;
    padding: 5px 15px 5px 15px;
    margin: 5px 0;
    background: #EF4444;
    color: #fff;
    font-weight: 600;
}

input[type="submit"]:not(:first-child){
    margin-left: 1rem;
}

.input{
    width: min-content;
    position: relative;
}

.input p{
    font-weight: bold;
}

a {
    text-decoration: none;
    font-weight: 600;
    color: #DC2626;
}

a:focus{
    color: #DC2626;
}

a:hover {
    text-decoration: underline;
    color: #EF4444;
}

ul li{
    margin-left: 2rem;
}

html {
    background-color: #F9FAFB;
}

/*
    custom classes
*/

/* Body */

.content-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.content {
    /* margin-top: 3%; */
    /* margin-right: 18%;
    margin-left: 18%; */
    width: 70%;
    margin: 3rem auto;
    display: flex;
    flex-grow: 1;
}

.main-body {
    background-color: #ffffff;
    border-radius: 15px;
    /* width: 70%; */
    flex-grow: 1;
    min-width: 0;
    height: min-content;
    margin-right: 2rem;
    display: inline-block;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.full-body{
    margin-right: 0 !important;
}

.side-body-container{
    width: 28%;
    min-width: 230px;
    display: flex;
    flex-direction: column;
}

.side-body {
    width: 100%;
    background-color: #ffffff;
    border-radius: 15px;
    display: inline-block;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.inside-main-body {
    padding: 1rem;
    word-wrap: break-word;
}

.slight-margin {
    margin-top: 2%;
}

.side-body-info-text {
    font-size: 12px;
}

/* footer */
.footer {
    width: 100%;
    background-color: #374151;
}

.footer-text {
    color: #dadada;
    display: block;
}

.footer-text:hover{
    text-decoration: none;
    color: #dadada;
}

.footer .container{
    width: 70%;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* header */
.header {
    width: 100%;
    background-color: rgb(226, 226, 226);
}

.align-right {
    position: relative;
    float: right;
    padding-right: 10px;
}

.align-left {
    padding-left: 10px;
}

.align-centre {
    text-align: center;
}

.header-body {
    /* padding-left: 15%; */
    width: 70%;
    margin: 0 auto;
    padding-bottom: 3px;
    padding-top: 3px;
}

/* plugins list */

/* -----[Option 1]----- */
/* .plugin-box {
    clear: both;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: 5px;
    display: flex;
    position: relative;
} */

/* .plugin-list {
    /* padding: 3% 7%; */
    /* margin-top: 0.5rem;
    list-style-type: none;

    /* -------- comment out the 2 lines below this to remove the outside border --------- */
    /* border: 2px solid #374151;
    border-radius: 1rem;
}

.plugin-list li:not(:first-child) {
    border-top: #374151 solid 2px;
} */

/* -----[Option 2]----- */
.plugin-box {
    clear: both;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: #F3F4F6;
    border-radius: 1rem;
    display: flex;
    position: relative;
}

.plugin-list {
    /* padding: 3% 7%; */
    /* margin-top: 0.5rem; */
    list-style-type: none;
    border-radius: 1rem;
}

.logo {
    width: 65px;
    height: 65px;
    border-radius: 7px;
    margin: 1px;
    display: flex;
    align-items: center;
}

.info-left:nth-child(2){
    flex-grow: 1;
    flex-basis: 100px;
    position: relative;
    min-width: 0;
    width: auto;
}

.info-right{
    margin-left: 1rem;
}

.blurb {
    font-size: 13px;
}

.title {
    font-size: 16px;
    color: #DC2626;
    font-weight: bold;
    word-wrap: break-word;
}

.modified-grey{
    color: #838383;
}

.wall-section{
    margin-top: 1rem;
}

.resource-controls{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    /* align-items: center; */
}

.resource-controls a{
    border-radius: 3px;
    padding: 5px 15px 5px 15px;
    margin: 5px 0;
    background: #EF4444;
    color: #fff;
}

.resource-controls a:not(:first-child){
    margin-left: 1rem;
}

.resource-top-controls{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-container{
    display: flex;
    flex-direction: row;
    border-radius: 7px;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 5px;
}

.search-container input[type="button"]{
    outline: none;
    border: none;
    border-radius: 0;
    padding: 5px 15px 5px 15px;
    margin: 5px 0;
    background: #EF4444;
    color: #fff;
    font-weight: 600;
    margin: 0;
}

.search-container input[type="text"]{
    flex-grow: 1;
    border-radius: 0;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    margin: 0;
}

/* more */

.text-box {
    width: 100%;
    height: 500px;
    overflow: auto;
    resize: none;
}

.page-button {
    height: 25px;
    width: 25px;
    text-align: center;
    vertical-align: middle;
    /* color: #DC2626; */
    color: #EF4444;
    background-color: #F3F4F6;
    border-radius: 5px;

    margin-left: 2px;
    margin-right: 2px;
}

.page-number {
    height: 25px;
    width: 25px;
    text-align: center;
    vertical-align: middle;
    /* color: #DC2626; */
    color: white;
    background-color: #EF4444;
    border-radius: 5px;
    
    margin-left: 2px;
    margin-right: 2px;
}

.horizontal-center {
    display: flex;
    justify-content: center;
}

.password-strength {
    width: fit-content;
    padding: 3px 8px;
    border-radius: 15px;
}

#strength-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.bar-section{
    height: 0.35rem;
    flex-grow: 1;
    background-color: #D1D5DB;
    border-radius: 0.1rem;
}

.bar-section:not(:first-child){
    margin-left: 0.6rem;
}