<!doctype html>
<html lang="en">
<head>
    <title>Login</title>
    <link th:href="@{/css/custom.css}" rel="stylesheet"/>
</head>
<body>
<div class="content-container">
    <div lang="en" th:include="header :: header"></div>
    <div class="content">
        <div class="main-body">
            <div class="inside-main-body">
                <p th:if="${error == 'notfound'}">No account found with those credentials</p>
                <p th:if="${error == 'incorrectpassword'}">Incorrect password</p>
                <form method="POST" th:action="@{/login}" th:object="${createAccount}" action="#">
                    <div class="input">
                        <p>Name</p>
                        <input type="text" th:field="*{username}" maxlength="16" required/>
                    </div>

                    <div class="input">
                        <p>Password</p>
                        <input type="password" th:field="*{password}" maxlength="64" required/>
                    </div>

                    <div>
                        <td><input type="submit" value="Login"/></td>
                    </div>
                </form>
            </div>
        </div>
        <div class="side-body-container">
            <div class="side-body">
                <div class="inside-main-body">
                    <div lang="en" th:include="sponsor :: sponsor"></div>
                </div>
            </div>
        </div>
    </div>
    <div lang="en" th:include="footer :: footer"></div>
</div>
</body>
</html>