<!doctype html>
<html lang="en">
<head>
    <title>Resource (Name)</title>
    <link th:href="@{/css/custom.css}" rel="stylesheet"/>
</head>
<body>
<div lang="en" th:include="header :: header"></div>
<div class="content-container">
<div class="content">
    <div class="main-body">
        <div class="inside-main-body">
            <p th:if="${error == 'invalidemail'}">Invalid Email</p>
            <p th:if="${error == 'emailtaken'}">Email is taken</p>
            <p th:if="${error == 'usernametaken'}">Username is taken</p>
            <p th:if="${error == 'passwordtaken'}">That password is taken (haha just kidding, this error actually isn't possible normally)</p>
            <p th:if="${error == 'invalidcharacter'}">You have a character that is not allowed in your username</p>
            <form method="POST" th:action="@{/signup}" th:object="${account}" action="#">
                <p>Name: <input type="text" th:field="*{username}" maxlength="16" required/></p>
                <p>EMail: <input type="text" th:field="*{email}" maxlength="320" required/></p>
                <p>Password: <input type="password" th:field="*{password}" maxlength="64" required/></p>
                <td><input type="submit" value="Signup"/></td>
            </form>
        </div>
    </div>
    <div class="side-body-container">
        <div class="side-body">
            <div class="inside-main-body">
                <div lang="en" th:include="sponsor :: sponsor"></div>
            </div>
        </div>
    </div>
</div>
<div lang="en" th:include="footer :: footer"></div>
</div>
</body>
</html>