<meta name="viewport" content="width=device-width, initial-scale=1">
<div th:fragment="header" class="header">
    <header class="header">
        <div class="c-x w-80 flex flex-c-v" style="gap: 20px;">
            <h1 class="p-a">OSI</h1>
            <div class="header-search">
                <input type="text" placeholder="Search for a plugin"><button>Search</button>
            </div>
            <a href="">Login</a>
        </div>

        <div class="links">
            <!-- somehow you need to detect active links... -->
            <a href="" class="active">Home</a>
            <a href="">Resources</a>
            <a href="">Discord</a>
        </div>


        <script th:src="@{/js/header.js}"></script>
        <script th:src="@{/js/cssHead.js}"></script>

        <script>
            addToHead([(localStorage.getItem('theme') == 'dark') ? '/css/theme/dark.css' : '/css/theme/light.css', '/css/base.css', '/css/header.css']);
            console.log(localStorage.getItem('theme'));
        </script>
    </header>
</div>