<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link th:href="@{/css/custom.css}" rel="stylesheet"/>
</head>
<body>
<div class="content-container">
    <div lang="en" th:include="header :: header"></div>
    <div class="content">
        <div class="main-body">
            <div class="inside-main-body">
                <h1>Home</h1>
                <!--                <p th:if="${auth != null}" th:text="${auth.getName()}"></p>-->
                <div class="blog-container">
                    <div class="blog" th:each="blog: ${blogs}">
                        <h2 th:text="${blog.name}"></h2>
                        <div class="blog-timeuser">
                            <p th:text="${blog.dateString}"></p>
                            <p style="margin-left: 5px"> • </p>
                            <a style="margin-left: 5px" th:href="'/profile/' + ${blog.authorId}"
                               th:text="${blog.authorName}"></a>
                        </div>
                        <div th:utext="${blog.post}"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="side-body-container">
            <div class="side-body">
                <div class="inside-main-body">
                    <div lang="en" th:include="sponsor :: sponsor"></div>
                </div>
            </div>
        </div>
    </div>
    <div lang="en" th:include="footer :: footer"></div>
</div>
</body>
</html>