<!DOCTYPE html>
<html lang="">
<head>
    <title>Create Resource</title>
    <link th:href="@{/css/custom.css}" rel="stylesheet" />
</head>
<body>
<div lang="en" th:include="header :: header"></div>
<div lang="en" th:include="footer :: footer"></div>
<form method="POST" th:action="@{/resources/create}" th:object="${resource}" action="#">
    <table>
        <tr>
            <p>Name: <input type="text" th:field="*{name}" maxlength="128"/></p>
            <p>Blurb: <input type="text" th:field="*{blurb}" maxlength="256"/></p>
            <p>Donation Link (Optional): <input type="text" th:field="*{donation}" maxlength="2048"/></p>
            <p>Source Code (Optional): <input type="text" th:field="*{source}" maxlength="2048"/></p>
            <p>The description uses Markdown as formatting</p>
            <textarea th:field="*{description}" rows="4" cols="50" style="resize: none;"></textarea>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
    </form>
</body>
</html>