<!DOCTYPE html>
<html lang="">
<head>
    <title>Edit Resource</title>
    <link th:href="@{/css/custom.css}" rel="stylesheet"/>
</head>
<body>
<div lang="en" th:include="header :: header"></div>
<div class="content-container">
<div class="content">
    <div class="main-body">
        <div class="inside-main-body">
            <form method="POST" th:action="${url}" th:object="${resource}" action="#" th:if="${userId == authorid}" enctype="multipart/form-data">
                <p><img th:src="'/logo/' + ${resource.getId()}" alt="Logo" class="logo">Logo: <input type="file" name="logo" accept="image/*" id="logo"></p>
                <p>Name: <input type="text" th:field="*{name}" maxlength="128" required/></p>
                <p>Version: <input type="text" th:field="*{version}" maxlength="128" required/></p>
                <p>The description uses Markdown as formatting</p>
                <label>
                    <textarea th:field="*{description}" required class="text-box"></textarea>
                </label>
                <p>
                <td><input type="submit" value="Save Edit"/></td>
                </p>
            </form>
            <p th:unless="${userId == authorid}">You do not have permission to edit this plugin</p>
        </div>
    </div>
    <div class="side-body-container">
        <div class="side-body">
            <div class="inside-main-body">
                <div lang="en" th:include="sponsor :: sponsor"></div>
            </div>
        </div>
    </div>
</div>
<div lang="en" th:include="footer :: footer"></div>
</div>
</body>
</html>