<!DOCTYPE html>
<html lang="">
<head>
    <title th:text="${resource.getName()}"></title>
    <link th:href="@{/css/custom.css}" rel="stylesheet"/>
</head>
<body>
<div class="content-container">
    <div lang="en" th:include="header :: header"></div>
    <div class="content">
        <div class="main-body">
            <div class="inside-main-body">
                <div class="info-left">
                    <img th:src="'/logo/' + ${resource.getId()}" alt="Logo" class="logo">
                </div>
                <div class="info-left">
                    <p th:text="${resource.getName()}"></p>
                    <p th:text="${resource.getBlurb()}" class="blurb"></p>
                    <br>
                </div>
                <br>
                <div style="clear: both;">
                    <form method="GET" th:action="'/resources/' + ${resource.getId()}" th:object="${resource}"
                          enctype="multipart/form-data" action="#">
                        <p>
                            <input type="submit" name="field" value="Overview">
                            <input type="submit" name="field" value="Updates">
                        </p>
                    </form>
                </div>
                <br>
                <hr th:if="${resource.getDonation()} != '' or ${resource.getSource()} != '' or ${resource.getSupport()} != ''">
                <br th:if="${resource.getDonation()} != '' or ${resource.getSource()} != '' or ${resource.getSupport()} != ''">

                <p th:if="${resource.getDonation()} != ''"><a th:href="${resource.getDonation()}"
                                                              th:text="'Donation Link: ' + ${resource.getDonation()}"></a>
                </p>
                <p th:if="${resource.getSource()} != ''"><a th:href="${resource.getSource()}"
                                                            th:text="'Source Code: ' + ${resource.getSource()}"></a></p>
                <p th:if="${resource.getSupport()} != ''"><a th:href="${resource.getSupport()}"
                                                             th:text="'Support: ' + ${resource.getSupport()}"></a></p>
                <br th:if="${resource.getDonation()} != '' or ${resource.getSource()} != '' or ${resource.getSupport()} != ''">

                <hr>
                <br>
                <div th:utext="${resource.getDescription()}"></div>
                <br>
                <hr>
                <br>
                <div class="resource-controls">
                    <a th:if="${account.getId()} == ${resource.getAuthor().getId()}" th:href="${editUrl}">
                        <button>Edit Plugin</button>
                    </a>
                    <a th:if="${account.getId()} == ${resource.getAuthor().getId()}" th:href="${uploadUrl}">
                        <button>Upload</button>
                    </a>
                    <a th:if="${resource.getDownload()} != ''" th:href="${resource.getDownload()}">
                        <button>Download</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="side-body-container">
            <div class="side-body">
                <div class="inside-main-body">
                    <div lang="en" th:include="sponsor :: sponsor"></div>
                </div>
            </div>
            <div class="side-body slight-margin">
                <div class="inside-main-body side-body-info-text">
                    <p class="" th:text="'Created: ' + ${resource.getCreated()}"></p>
                    <p th:text="'Updated: ' + ${resource.getUpdated()}"></p>
                    Author: <a th:href="'/profile/' + ${resource.getAuthor().getId()}" th:text="${resource.getAuthor().getUsername()}"></a>
                    <p th:text="'Downloads: ' + ${totalDownloads}"></p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div lang="en" th:include="footer :: footer"></div>
</div>
</body>
</html>