<!DOCTYPE html>
<html lang="">
<head>
    <title>Resources</title>
    <link th:href="@{/css/custom.scss}" rel="stylesheet"/>
</head>
<body>
<div lang="en" th:include="header :: header"></div>
<div class="content">
    <div class="main-body">
        <ul class="plugin-list">
            <li th:each="file : ${files}">
                <div class="plugin-box">
                    <a th:href="${'resources/' + file.getId()}" th:text="${file.getName()}"
                       class="align-centre title"></a>
                    <p th:text="${file.getBlurb()}" class="blurb"></p>
                    <p th:text="${'Created: ' + file.getCreated()}" class="blurb"></p>
                    <p th:text="${'Updated: ' + file.getUpdated()}" class="blurb"></p>
                    <p th:text="${'Downloads: ' + file.getDownloads()}" class="blurb"></p>
                </div>
            </li>
        </ul>
    </div>
    <div class="side-body">
        <div class="inside-main-body">
            <div lang="en" th:include="sponsor :: sponsor"></div>
        </div>
    </div>
</div>
<div lang="en" th:include="footer :: footer"></div>
</body>
</html>