<!DOCTYPE html>
<html lang="">

<head>
    <title>Resources</title>
    <!-- <link th:href="@{/css/custom.css}" rel="stylesheet" /> -->
    <script th:src="@{/js/sortby.js}"></script>
    <script th:src="@{/js/pageChanger.js}"></script>
    <script th:src="@{/js/changeCategory.js}"></script>
    <script th:src="@{/js/search.js}"></script>
</head>

<body>
    <div class="content-container">
        <div lang="en" th:include="header :: header"></div>
        <div class="content">
            <!--<p th:if="${results != null}" th:text="${results + ' Results'}"></p>
                <div class="horizontal-center">
                    <a th:if="${page > 1}" th:href="'/resources?page=' + ${page - 1}" class="page-button">
                        <button><</button>
                    </a>
                    <a th:if="${page > 2}" class="page-button" th:text="${page - 2}" onclick="changePage(-2)"></a>
                    <a th:if="${page > 1}" class="page-button" th:text="${page - 1}" onclick="changePage(-1)"></a>
                    <span th:text="${page}" class="page-number"></span>
                    <a th:if="${page < total}" class="page-button" th:text="${page + 1}"
                       onclick="changePage(1)"></a>
                    <a th:if="${page + 1 < total}" class="page-button" th:text="${page + 2}"
                       onclick="changePage(2)"></a>
                    <a th:if="${page < total}" th:href="'/resources?page=' + ${page + 1}" class="page-button">
                        <button>></button>
                    </a>
                </div>
                    <!-- <hr> --
                    <p th:if="${files.size() == 0}">There are currently no resources, sorry :(</p>
                    <li th:each="file : ${files}" class="no-ml">
                        <div class="plugin-box">
                            <div class="info-left"><img th:src="${'/logo/' + file.getId()}" alt="Logo" class="logo">
                            </div>
                            <div class="info-left"><a th:href="${'resources/' + file.getId()}"
                                                      th:text="${file.getName()}"
                                                      class="align-centre title"></a>
                                <p th:text="${file.getBlurb()}" class="blurb"></p></div>
                            <div class="info-right">
                                <p th:text="${'Created: ' + file.getCreated()}" class="blurb"></p>
                                <p th:text="${'Updated: ' + file.getUpdated()}" class="blurb"></p>
                                <p th:text="${'Downloads: ' + file.getTotalDownloads()}" class="blurb"></p>
                            </div>
                        </div>
                        <!-- <hr> -->

            <div class="plugins">
                <p th:if="${files.size() == 0}">There are currently no resources, sorry :(</p>

                <div th:each="file : ${files}">
                    <div class="plugin plugin-row-dark">
                        <img th:src="${'/logo/' + file.getId()}" alt="Logo" class="logo">
                        <div class="plugin-info" style="flex-grow: 1;">
                            <div class="tags">
                                <span class="tag t-r">Server software</span>
                            </div>
                            <a class="stitle a-override" th:href="${'resources/' + file.getId()}"
                                th:text="${file.getName()}"></a>
                            <p th:text="${file.getBlurb()}"></p>
                        </div>
                        <div class="plugin-buttons">
                            <a href="/resources/1?field=Updates" class="button filled">Versions</a>
                            <a th:href="${'/resources/' + file.getId()}" class="button outline">View Plugin</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="side">
                <div class="side-body">
                    <h1 class="title">Categories</h1>
                    <p><button onclick="changeCategory('all')">All Categories</button></p>
                    <p><button onclick="changeCategory('chat')">Chat</button></p>
                    <p><button onclick="changeCategory('misc')">Misc</button></p>
                    <p><button onclick="changeCategory('fun')">Fun</button></p>
                    <p><button onclick="changeCategory('world')">World Management</button></p>
                    <p><button onclick="changeCategory('economy')">Economy</button></p>
                    <p><button onclick="changeCategory('library')">Library/API</button></p>
                    <p><button onclick="changeCategory('tools')">Tools/Utilities</button></p>
                    <p><button onclick="changeCategory('mechanics')">Mechanics</button></p>
                    <p><button onclick="changeCategory('skript')">Skript</button></p>
                    <p><button onclick="changeCategory('software')">Server Software</button></p>
                </div>
            </div>
        </div>
        <!-- <div lang="en" th:include="footer :: footer"></div> -->


        <script th:src="@{/js/cssHead.js}"></script>

        <script>
            addToHead(['/css/resources.css']);
        </script>
</body>

</html>