<!DOCTYPE html>
<html lang="">
<head>
    <title th:text="${resource.getName()} + ' Updates'"></title>
    <link th:href="@{/css/custom.css}" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script th:src="@{/js/sortby.js}"></script>
    <script th:src="@{/js/changeUpdateStatus.js}"></script>
</head>
<body>
<div class="content-container">
    <div lang="en" th:include="header :: header"></div>
    <div class="content">
        <div class="main-body">
            <div class="inside-main-body">
                <div class="info-left flex">
                    <img th:src="'/logo/' + ${resource.getId()}" alt="Logo" class="logo">

                    <div class="info-left" style="margin-left: 1rem;">
                        <p th:text="${resource.getName()}"></p>
                        <p th:text="${resource.getBlurb()}" class="blurb"></p>
                        <br>
                    </div>
                </div>
                <br>
                <form method="GET" th:action="'/resources/' + ${resource.getId()}" th:object="${resource}"
                      enctype="multipart/form-data" action="#">
                    <p>
                        <input type="submit" name="field" value="Overview">
                        <input type="submit" name="field" value="Updates">
                    </p>
                </form>
                <br>
                <hr>
                <br>
                <div>
                    Sort By:
                    <select id="sortby" onchange="changeSort()">
                        <option value="uploaded">Uploaded</option>
                        <option value="downloads">Downloads</option>
                        <option value="alphabetical">Alphabetical</option>
                    </select>
                </div>
                <br>
                <table>
                    <tr>
                        <td>Name</td>
                        <td>Version</td>
                        <td>Uploaded</td>
                        <td>Versions</td>
                        <td>Downloads</td>
                        <td>Actions</td>
                    </tr>
                    <tr th:each="update, iter : ${updates}">
                        <td th:text="${update.getName()}"></td>
                        <td th:text="${update.getVersion()}"></td>
                        <td th:text="${update.getUploaded()}"></td>
                        <td th:inline="text" class="tooltip">
                            [[${versions.get(iter.index).get(0)}]]
                            <span th:if="${versionLists.get(iter.index)} != ''" class="tooltiptext"
                                  th:text="${versionLists.get(iter.index)}"></span>
                        </td>
                        <td th:text="${update.getDownloads()}"></td>
                        <td>
                            <a th:href="${update.getDownload()}">
                                <button>Download</button>
                            </a>
                            <a th:if="${account != null && account.getId() == resource.getAuthor().getId()}"
                               th:href="${'/resources/' + resource.getId() + '/edit/update/' + update.getId()}">
                                <button>Edit</button>
                            </a>
                            <a th:if="${account != null && account.getId() == resource.getAuthor().getId()}">
                                <button onclick="changeUpdateStatus(this)" th:name="${update.getId()}">Archive</button>
                                <input type="hidden" id="id" th:value="${resource.getId()}"/>
                            </a>
                            <a th:if="${account != null && account.getId() == resource.getAuthor().getId()}"
                               th:href="${'/resources/' + resource.getId() + '/edit/update/' + update.getId()}">
                                <button>Delete</button>
                            </a>
                        </td>
                    </tr>
                </table>
                <div>
                    <button class="resource-more" id="resource-more">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                             fill="#000000">
                            <path d="M0 0h24v24H0z" fill="none"/>
                            <path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/>
                        </svg>
                    </button>

                    <div class="resource-tooltip" id="resource-tooltip">
                        <a th:if="${account != null && account.getId() == resource.getAuthor().getId()}"
                           th:href="${editUrl}">
                            <button>Edit Plugin</button>
                        </a>

                        <a th:if="${account != null && account.getId() == resource.getAuthor().getId()}"
                           th:href="${uploadUrl}">
                            <button>Upload</button>
                        </a>

                        <a href="/report">
                            <button>Report</button>
                        </a>

                        <a>
                            <button id="report-button" type="resource">Report-Overlay</button>
                        </a>
                        <a th:if="${account != null && account.getId() == resource.getAuthor().getId()}"
                           th:href="${'/resources/' + id_s + '/delete'}">
                            <button>Delete</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="side-body-container">
            <div class="side-body">
                <div class="inside-main-body">
                    <div lang="en" th:include="sponsor :: sponsor"></div>
                </div>
            </div>
            <div class="side-body slight-margin">
                <div class="inside-main-body">
                    <p th:text="'Created: ' + ${resource.getCreated()}"></p>
                    <p th:text="'Updated: ' + ${resource.getUpdated()}"></p>
                    Author: <a th:href="'/profile/' + ${resource.getAuthor().getId()}"
                               th:text="${resource.getAuthor().getUsername()}"></a>
                    <p th:text="'Downloads: ' + ${totalDownloads}"></p>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/js/resourceTooltip.js}"></script>
    <div lang="en" th:include="footer :: footer"></div>
    <div lang="en" th:include="report-overlay :: report-overlay"></div>
</div>
</body>
</html>