<!DOCTYPE html>
<html lang="">
<head>
    <title>Upload File</title>
    <link th:href="@{/css/custom.css}" rel="stylesheet"/>
    <script th:src="@{/js/resourceDownload.js}"></script>
    <script th:src="@{/js/selectVersion.js}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.2/simplemde.min.css" integrity="sha512-lB03MbtC3LxImQ+BKnZIyvVHTQ8SSmQ15AhVh5U/+CCp4wKtZMvgLGXbZIjIBBbnKsmk3/6n2vcF8a9CtVVSfA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<div class="content-container">
    <div lang="en" th:include="header :: header"></div>
    <div class="content">
        <div class="main-body">
            <div class="inside-main-body">
                <p th:if="${error == 'uploadlimit'}" th:text="${'Please wait. You have uploaded ' + limit + ' files in the last hour'}"></p>
                <form method="POST" th:action="${url}" th:object="${update}" enctype="multipart/form-data"
                      action="#" th:if="${account.getId()} == ${resource.getAuthor().getId()}">
                    <p th:if="${error == 'filesize'}"
                       th:text="'File size is too large or is empty, the max size is ' + ${maxUploadSize}"></p>
                    <p th:if="${error == 'filetype'}"
                       th:text="'This file extension is not allowed, you can only use .jar'"></p>
                    <p>Name: <input type="text" th:field="*{name}" maxlength="128" required/></p>
                    <p>Version: <input type="text" th:field="*{version}" maxlength="128" required/></p>
                    <p>File: <input type="file" name="file" accept=".jar" required id="file"></p>
                    <p>External Download: <input type="text" th:field="*{externalLink}" maxlength="256" required
                                                 id="externalDownload"/></p>
                    <p>The description uses Markdown as formatting</p>
                    <label>
                        <textarea th:field="*{description}" required class="text-box"></textarea>
                    </label>
                    <div>
                        <p>Bare minimum Software Needed:</p>
                        <p><input type="checkbox" value="minestom" th:name="softwareCheckbox"> Minestom</p>
                        <details>
                            <summary><input type="checkbox" onchange="checkChildren(this)"> Bukkit</summary>
                            <ul>
                                <li><input type="checkbox" value="bukkit" th:name="softwareCheckbox"> Bukkit</li>
                                <li><input type="checkbox" value="spigot" th:name="softwareCheckbox"> Spigot</li>
                                <li><input type="checkbox" value="paper" th:name="softwareCheckbox"> Paper</li>
                                <li><input type="checkbox" value="purpur" th:name="softwareCheckbox"> Purpur</li>
                            </ul>
                        </details>
                        <p><input type="checkbox" value="sponge" th:name="softwareCheckbox"> Sponge</p>
                        <p><input type="checkbox" value="krypton" th:name="softwareCheckbox"> Krypton</p>
                        <p><input type="checkbox" value="hmod" th:name="softwareCheckbox"> hMod</p>
                        <p><input type="checkbox" value="cuberite" th:name="softwareCheckbox"> Cuberite</p>
                    </div>
                    <div>
                        <p>Compatible Versions:</p>
                        <details>
                            <summary><input type="checkbox" onchange="checkChildren(this)"> 1.18.X</summary>
                            <ul>
                                <li><input type="checkbox" value="1.18.1" th:name="versionCheckbox"> 1.18.1</li>
                                <li><input type="checkbox" value="1.18" th:name="versionCheckbox"> 1.18</li>
                            </ul>
                        </details>
                        <details>
                            <summary><input type="checkbox" onchange="checkChildren(this)"> 1.17.X</summary>
                            <ul>
                                <li><input type="checkbox" value="1.17.1" th:name="versionCheckbox"> 1.17.1</li>
                                <li><input type="checkbox" value="1.17" th:name="versionCheckbox"> 1.17</li>
                            </ul>
                        </details>
                        <details>
                            <summary><input type="checkbox" onchange="checkChildren(this)"> 1.16.X</summary>
                            <ul>
                                <li><input type="checkbox" value="1.16.5" th:name="versionCheckbox"> 1.16.5</li>
                                <li><input type="checkbox" value="1.16.4" th:name="versionCheckbox"> 1.16.4</li>
                                <li><input type="checkbox" value="1.16.3" th:name="versionCheckbox"> 1.16.3</li>
                                <li><input type="checkbox" value="1.16.2" th:name="versionCheckbox"> 1.16.2</li>
                                <li><input type="checkbox" value="1.16.1" th:name="versionCheckbox"> 1.16.1</li>
                                <li><input type="checkbox" value="1.16" th:name="versionCheckbox"> 1.16</li>
                            </ul>
                        </details>
                        <details>
                            <summary><input type="checkbox" onchange="checkChildren(this)"> 1.15.X</summary>
                            <ul>
                                <li><input type="checkbox" value="1.15.2" th:name="versionCheckbox"> 1.15.2</li>
                                <li><input type="checkbox" value="1.15.1" th:name="versionCheckbox"> 1.15.1</li>
                                <li><input type="checkbox" value="1.15" th:name="versionCheckbox"> 1.15</li>
                            </ul>
                        </details>
                        <details>
                            <summary><input type="checkbox" onchange="checkChildren(this)"> 1.14.X</summary>
                            <ul>
                                <li><input type="checkbox" value="1.14.4" th:name="versionCheckbox"> 1.14.4</li>
                                <li><input type="checkbox" value="1.14.3" th:name="versionCheckbox"> 1.14.3</li>
                                <li><input type="checkbox" value="1.14.2" th:name="versionCheckbox"> 1.14.2</li>
                                <li><input type="checkbox" value="1.14.1" th:name="versionCheckbox"> 1.14.1</li>
                                <li><input type="checkbox" value="1.14" th:name="versionCheckbox"> 1.14</li>
                            </ul>
                        </details>
                        <details>
                            <summary><input type="checkbox" onchange="checkChildren(this)"> 1.13.X</summary>
                            <ul>
                                <li><input type="checkbox" value="1.13.2" th:name="versionCheckbox"> 1.13.2</li>
                                <li><input type="checkbox" value="1.13.1" th:name="versionCheckbox"> 1.13.1</li>
                                <li><input type="checkbox" value="1.13" th:name="versionCheckbox"> 1.13</li>
                            </ul>
                        </details>
                        <details>
                            <summary><input type="checkbox" id="1.12.X" onchange="checkChildren(this)"> 1.12.X</summary>
                            <ul>
                                <li><input type="checkbox" value="1.12.2" th:name="versionCheckbox"> 1.12.2</li>
                                <li><input type="checkbox" value="1.12.1" th:name="versionCheckbox"> 1.12.1</li>
                                <li><input type="checkbox" value="1.12" th:name="versionCheckbox"> 1.12</li>
                            </ul>
                        </details>
                        <!-- Add more versions. From the earliest hMod support to latest -->
                    </div>
                    <br>
                    <p>
                    <td><input type="submit" id="submit" value="Submit"/>
                    <a th:href="${mainUrl}"><button class="button">Cancel</button></a></td>
                    </p>
                </form>
                <p th:unless="${account.getId()} == ${resource.getAuthor().getId()}">You do not have permission to edit this plugin</p>
            </div>
        </div>
        <div class="side-body-container">
            <div class="side-body">
                <div class="inside-main-body">
                    <div lang="en" th:include="sponsor :: sponsor"></div>
                </div>
            </div>
        </div>
    </div>
    <div lang="en" th:include="footer :: footer"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.2/simplemde.min.js" integrity="sha512-ksSfTk6JIdsze75yZ8c+yDVLu09SNefa9IicxEE+HZvWo9kLPY1vrRlmucEMHQReWmEdKqusQWaDMpkTb3M2ug==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        var simplemde = new SimpleMDE({element: document.getElementById('description')});
        simplemde.value(document.getElementById('hidden-description').value);

        //not sure this is how i should do this but i get an error without this when trying to create a resource
        document.getElementById("submit").onclick = function () {
            document.getElementById("hidden-description").value = simplemde.value();
        };
    </script>
</div>
</body>
</html>